# Ignorar a pasta de build e arquivos temporários do CMake
/build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake

# Ignorar arquivos de saída do compilador (objetos e executáveis)
*.o
#*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.so

# Ignorar dependências baixadas automaticamente pelo CMake (GLFW FetchContent)
_build/
_deps/
glfw-src/
glfw-build/

# Ignora diretórios com dependências externas baixadas automaticamente pelo FetchContent (stb_image CMake)
external/


# Ignorar configurações específicas do VSCode
.vscode/
CMakeUserPresets.json

# Ignorar logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db


